
@font-face {
    font-family: Kirsty;
    src: url(./fonts/kirsty.regular.ttf);
 }
button{
    margin-top: 20px;
    margin-bottom: 20px;
}
body {
    width: 100%;
    height: 100%;
    background-color: white;
}
h1{
    color: white;
    font-family: Kirsty;

}

h3{
    color: red
}